<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programmingtechniques.uas">

    <application
        android:icon="@drawable/catbot_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/catbot_icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS">
        <activity
            android:name=".SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:noHistory="true" />
        <activity
            android:name=".Users.Login"
            android:noHistory="true" />
        <activity android:name=".Users.Register" />
        <activity android:name=".Users.Verification" />
        <activity android:name=".Menu.Home" />
        <activity android:name=".Menu.Profile" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>